{% extends "base.html" %} {% block conteudo %}

<h2>Início</h2>

<p>Você está na página principal</p>

{% endblock conteudo %}
<!-- 
{% load static %}

<!DOCTYPE html>

<html>
	<head>
		 tags meta obrigatórias

		<meta charset="utf-8" />

		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		folha de estilos do Bootstrap CSS

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

		<title>Testando o Bootstrap para criar um template</title>
	</head>

	<body>
		<h1>Teste do Bootstrap</h1>


		 JavaScript opcional

		 jQuery, Popper.js e Bootstrap JS – bibliotecas JS

		<script src="{% static 'js/jquery.min.js' %}"></script>

		<script src="{% static 'js/popper.min.js' %}"></script>

		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html> -->
